@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577593;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
}
body{
    font-family: "Poppins",sans-serif;
    color: var(--primary-text-color);
}
p{
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
nav{
    background-color:#f3faff;
    box-shadow: 0 0 #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}
.main-nav{
    justify-content:space-between;
    padding-block: 6px;
}
.company-logo img{
    width: 80px;
}
.nav-links ul{
    gap: 20px;
}
.hover-link{
    cursor: pointer;
}
.hover-link:hover{
    color: var(--secondary-text-color);
}
.hover-link:active{
    color: red;
}
.nav-item.active{
    color: var(--accent-color);
}
.search-bar{
    height: 32px;
    gap: 8px;
}
.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto",sans-serif;
}
.search-button{
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    transition: all 1s;
}
.search-button:hover{
    background-color: var(--accent-color-dark);
}
main{
    padding-block: 30px;
    margin-top: 80px;
}
.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}
.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}
.cards-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 12px;
} 
.news-source{
    margin-block: 12px;
}
.menu-btn img{
    width: 25px;
    vertical-align: center;
    cursor: pointer;
    z-index: 11111;
    display: none;
    /* background-color: black; */
}
/* ******************************************************************************************************************************************************* */
/* ----------------------------------------------------------------responsive---------------------------------------------------------------------------- */
/* ***************************************************************************************************************************************************** */
@media(max-width: 980px){
    .container{
        max-width: 1180px;
        margin-inline: auto;
        overflow: hidden;
    }
}


@media(max-width: 750px){

    .company-logo img{
        width: 80px;
    }
    .nav-links ul{
        gap: 10px;
    }
    .nav-links li{
        display: block;
        padding: 5px 1px;
        font-weight: 300;
        transition: .3s ease-out;
        font-size: 15px;
    }
   
    /* ------------------------ */
    .search-bar{
        /* height: 32px; */
        height: 25px;
        gap: 4px;
    }
    .news-input{
        width: 100px;
        height: 100%;
        padding-inline: 9px;
        border-radius: 3px;
    }
    .search-button{
        padding: 6px 18px;
        border-radius: 3px;
        margin-right: 8px;
    }
/* --------------------- */
    .cards-container{
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 10px;
        align-items: start;
    }
    .card{
        width: 320px;
        min-height: 300px;
        box-shadow: 0 0 #d4ecff;
        border-radius: 4px;
        cursor: pointer;
        background-color: #fff;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .cards-header img{
        width: 100%;
        height: 130px;
        object-fit: cover;
    }
    .card-content{
        padding: 8px;
    } 
    .news-source{
        margin-block: 8px;
    }

    
}

@media(max-width: 600px){
    .nav-links li{
        display: block;
        padding: 5px 1px;
        font-weight: 300;
        transition: .3s ease-out;
        font-size: 11px;
    }
    .search-bar{
        /* height: 32px; */
        height: 20px;
        gap: 3px;
    }
    .search-button{
        padding: 3px 13px;
        border-radius: 3px;
        margin-right: 8px;
    }
    /* -------- */
    .cards-container{
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 5px;
        align-items: start;
    }
    .card{
        width: 240px;
        min-height: 200px;
        box-shadow: 0 0 #d4ecff;
        border-radius: 4px;
        cursor: pointer;
        background-color: #fff;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .cards-header img{
        width: 100%;
        height: 80px;
        object-fit: cover;
    }
    .card-content{
        padding: 4px;
    } 
    .news-source{
        margin-block: 4px;
    }
}

@media(max-width: 480px){

    .company-logo img{
        width: 60px;
    }
    .menu-btn img{
        display: block;
        width: 20px;
    }

    nav{
        width: 100%;
    }
    .nav-links{
        position: absolute;
        top: -600px;
        left: 0;
        right: -20;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav-links a{
        display: block;
        padding: 10px 0;
        font-weight: 500;
        transition: .3s ease-out;
    }

    .nav-links.active{
        top: 100%;
    }
    .about-content .left{
        width: 100%;
    }
    
    .about-content .right{
        width: 100%;
    }

    /* ------------------------ */
    .search-bar{
        /* height: 32px; */
        height: 20px;
        gap: 4px;
    }
    .news-input{
        width: 100px;
        height: 100%;
        padding-inline: 6px;
        border-radius: 2px;
    }
    .search-button{
        padding: 4px 12px;
        border-radius: 2px;
        margin-right: 4px;
    }
    /* ----------- */
    .card-content h3{
        font-size: 3px;
    }
    .card{
        width: 260px;
        min-height: 200px;
        border-radius: 4px;
        overflow: hidden;
    }
    .cards-header img{
        width: 100%;
        height: 130px;
        object-fit: cover;
    }
    .card-content{
        padding: 4px;
    } 
    .news-source{
        margin-block: 4px;
    }



}